<article class="bb bg-white">
    <div class="db pv4 ph3 ph0-l">
        <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb0-ns w-100 w-30-ns">
                <img src="public/images/mikeh4websm.jpg" class="db">
            </div>
            <div class="w-100 pl3-ns sans-serif">
                <!-- taking out w-60-ns -->
                <h1 class="f2 b sans-serif mt0 lh-title">Mike Hernandez</h1>
                <p>After serving the neighborhoods and cities in and around Los Angeles for more than 30 years as Councilmember,
                    Chief of Staff, Board Member and staff member, Mike Hernandez founded his own consulting firm in July
                    2015. Hernandez is the owner and principal.</p>
                <p>Hernandez was twice elected as Councilmember representing the First District on the Los Angeles City Council
                    (1991-2001) and later worked as Chief of Staff to Councilmember Bernard Parks and legislative deputy
                    to Councilmember Jan Perry’s office.
                </p>
                <p>During Hernandez’s tenure inside City Hall, he was involved and oversaw more than 25 city budgets, wrote
                    and passed ballot initiatives (Prop K), led the preservation and creation of open space in the park-poor
                    neighborhoods inside the First District, and led the fight to bring the Gold Line through Northeast Los
                    Angeles and have stations in neighborhoods like Highland Park, Mt. Washington, Cypress Park , Lincoln
                    Heights and Chinatown. </p>
                <p>As a longtime resident of Cypress Park and local leader in Latino politics, his purpose as an elected official,
                    representative of the City of Los Angeles, and now consultant to clients doing work in the City, is to
                    get solutions that are in the best interest of the community. That mission has not strayed and will not
                    because there is always work to be done to improve the quality of life for all residents in Los Angeles.</p>
            </div>
        </div>
    </div>
</article>
<!--<div class="mw7 vh-100 center pa3 sans-serif tl bg-near-white">-->
    <!-- look into vh auto to make it long on mobile -->
    <!--<h3>Mike Hernandez</h3>
    <div class>
        <img src="public/images/mikeh4websm.jpg" class="fl pr2 cf">
    </div>
    <p>After serving the neighborhoods and cities in and around Los Angeles for more than 30 years as Councilmember, Chief of
        Staff, Board Member and staff member, Mike Hernandez founded his own consulting firm in July 2015. Hernandez is the
        owner and principal.</p>
    <p>Hernandez was twice elected as Councilmember representing the First District on the Los Angeles City Council (1991-2001)
        and later worked as Chief of Staff to Councilmember Bernard Parks and legislative deputy to Councilmember Jan Perry’s
        office.
    </p>
    <p>During Hernandez’s tenure inside City Hall, he has been involved and overseen more than 25 city budgets, wrote and passed
        ballot initiatives (Prop K), led the preservation and creation of open space in the park-poor neighborhoods inside
        the First District, and led the fight to bring the Gold Line through Northeast Los Angeles and have stations in neighborhoods
        like Highland Park, Mt. Washington, Cypress Park , Lincoln Heights and Chinatown. </p>
    <p>As a longtime resident of Cypress Park and local leader in Latino politics, his purpose as an elected official, representative
        of the City of Los Angeles, and now consultant to clients doing work in the City, is to get solutions that are in
        the best interest of the community. That mission has not strayed and will not because there is always work to be
        done to improve the quality of life for all residents in Los Angeles.</p>
</div>-->