<article class="bb bg-white">
    <div class="db pv4 ph3 ph0-l">
        <div class="flex flex-column flex-row-ns">
            <div class="pr3-ns mb0-ns w-100 w-30-ns">
                <img src="public/images/mikeh4websm.jpg" class="db">
            </div>
            <div class="w-100 pl3-ns pr3-ns sans-serif">
                <!-- taking out w-60-ns -->
                <h1 class="f2 b sans-serif mt0 lh-title">Mike Hernandez</h1>
                <p>After serving the neighborhoods and cities in and around Los Angeles for more than 23 years as Councilmember,
                    Chief of Staff, Board Member and staff member, Mike Hernandez founded his own consulting firm in October
                    2013. Hernandez is the owner and Chief Strategist.</p>

                <p>Hernandez was elected three times as Councilmember representing the First District on the Los Angeles City
                    Council (1991-2001) and later worked for Councilmember Nate Holden for two years. Hernandez was also
                    assistant Chief of Staff to Councilmember Bernard Parks and Councilmember Jan Perry for ten years.
                </p>

                <p>Hernandez was involved and oversaw more than 23 city budgets, wrote and passed ballot initiatives-- Prop
                    K (Parks), Prop D (Libraries) and Prop H (Olvera Street)-- and organized community members to lead the
                    preservation and creation of open space in the park-poor neighborhoods inside the First District. As
                    councilmember, Hernandez wrote the initial Taylor Yard Plan which became the framework for the development
                    of what is now Rio de Los Angeles State Park, Sotomayor Learning Academies and the Los Angeles River
                    Revitalization Plan.
                </p>

                <p>As Chairman and Board Member of the Pasadena Gold Line Authority, Hernandez led the fight to bring the Gold
                    Line through Northeast Los Angeles. His leadership made sure stations were added in Cypress Park, Southwest
                    Museum, Lincoln Heights and Chinatown. Hernandez also served as Chair of the Ad Hoc Committee for Staples
                    Center and began entitlement process for LA Live.</p>

                <p>As a longtime resident of Cypress Park and local leader in Latino politics, his purpose as an elected official,
                    representative of the City of Los Angeles, and now consultant, is to get solutions that make the community
                    stronger. That mission has not strayed and will not because there is always work to be done to improve
                    the quality of life for all residents in Los Angeles.</p>
            </div>
        </div>
    </div>
</article>