<div class="mw6 center pa3 pa5-ns sans-serif tc bg-white">
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">(213) 994-4499</dt>
    </dl>
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">mike.hernandez@mac.com</dt>
    </dl>
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">
            <a class="link no-under" href="https://www.linkedin.com/in/mike-hernandez-abb0704a/">
                <span class="fa fa-linkedin-square fa-2x" aria-hidden="true"></span>
            </a>
            <a class="link no-under" href="https://en.wikipedia.org/wiki/Mike_Hernandez">
                <span class="fa fa-wikipedia-w fa-2x" aria-hidden="true"></span>
            </a>
        </dt>
    </dl>
</div>