<div class="mw6 center pa3 pa5-ns sans-serif tc bg-white">
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">Land Use Entitlements</dt>
    </dl>
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">Project Pre-Development Analysis</dt>
    </dl>
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">Issue Advocacy & Lobbying</dt>
    </dl>
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">Political Consulting</dt>
    </dl>
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">Public Affairs</dt>
    </dl>
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">Neighborhood Council Outreach</dt>
    </dl>
    <dl class="f4 lh-title mv2">
        <dt class="dib b black">Community Campaigns</dt>
    </dl>
</div>